<?xml version="1.0" ?>
<model>
  <name>biped</name>
  <version>1.0</version>
  <sdf version="1.6">urdf/biped.urdf</sdf>
  <author>
    <name>Aniketh Parkala</name>
    <email>aniketh.parkala@research.iiit.ac.in</email>
  </author>
  <description>
    Biped robot model for Gazebo simulation.
  </description>
</model>